- const agentsData = [{ mainClass: 'phoenix', name: 'PHOENIX', country: 'United Kingdom'}, { mainClass: 'jett', name: 'JETT', country: 'South Korea'}, { mainClass: 'sova', name: 'SOVA', country: 'Russia'}, { mainClass: 'sage', name: 'SAGE', country: 'China'}]

.header__agents.swiper.js-header-agents
    .swiper-wrapper.header__agents-wrapper
        each agent in agentsData
            .header__agent-item.js-header__agent-item.swiper-slide(class=`header__agent-item-${agent.mainClass} ${agent.name === 'PHOENIX' ? 'header__agent-item--active' : ''}` data-agent-name=agent.mainClass)
                p.header__agent-country= agent.country
                h3.header__agent-name= agent.name
                .header__agent-skills
                    span
                    span
                    span
                    span